@page "/"
@using AwsHelper.Services
@inject ParameterStoreService ParamStore

<h3>Enviar Variáveis para o Parameter Store</h3>

<input type="text" placeholder="Qual o caminho?" class="form-control" @bind="InputPath" />
<br />
<textarea @bind="InputText" rows="10" class="form-control"></textarea>
<br />
<button class="btn btn-primary" @onclick="Upload">Enviar</button>

<p>@Status</p>

@code {
    private string InputPath = "";
    private string InputText = "";
    private string Status = "";

    private async Task Upload()
    {
        try
        {
            await ParamStore.UploadVariablesAsync(InputText, InputPath);
            Status = "Variáveis enviadas com sucesso!";
        }
        catch (Exception ex)
        {
            Status = $"Erro: {ex.Message}";
        }
    }
}