@inherits LayoutComponentBase

<PageTitle>AwsHelper</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://aws.amazon.com/systems-manager/features/#Parameter_Store" target="_blank" class="text-decoration-none">
                <span class="oi oi-external-link me-1"></span>
                AWS Parameter Store Docs
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
